//header template
.header{
  background: #eee;
  color:white;
  padding:2rem;

}

.top-nav{
  text-transform:uppercase;
  float:right;
  margin-right:70px;
  padding:2rem;
  list-style:none;
}

.top-nav-item{
  float:right;
  margin-left:20px;
}
