<div class="page-content">
  <div class="landing-page">

    <div class="middle-box">
      <h1 class="main-slogan">Big data made easy.</h1>
      <div class="pic-box">

      </div>
    </div>
    <div class="bottom-link-box">
      <a class="see-more-link" href="#work">
        Check out some of our work
        <svg class="home-cta-arrow" width="16" height="8" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg"><path d="M15.34.495L8.028 7.87.715.495" stroke="#fff" stroke-width="1.5px" fill="none"></path></svg>

      </a>
    </div>

</div>
</div>
