<div class="header">
  <nav>
    <a href="/">
      <img src="/logo.gif" alt="" />
    </a>
    <ul class="top-nav">
      <li class="top-nav-item"><a href="#about">about</a></li>
      <li class="top-nav-item"><a href="#pricing">pricing</a></li>
      <li class="top-nav-item"><a href="#career">careers</a></li>
    </ul>
  </nav>
</div>
