<header>
  <div class="header-container">

    <nav class="top-nav">
      <a class="logo" href="/">
        <img src="anteater2.png" alt="" />
      </a>

      <ul class="top-nav-menu">
        <li class="top-nav-item1"><a class="c-button" href="#contact">contact</a></li>
        <li class="top-nav-item"><a href="#ventures">ventures</a></li>
        <li class="top-nav-item"><a href="#careers">careers</a></li>
        <li class="top-nav-item"><a href="#company">company</a></li>
        <li class="top-nav-item"><a href="#work">work</a></li>
      </ul>
    </nav>

  </div>
</header>
